


<% if logged_in? %>


<div class="user">
<h1> Hello, <%=@user.name.titleize%> </h1>
<%= link_to 'Schedule an Experience', field_experiences_path, class: "rootbtn" %> 
<%= link_to 'Create an Experience', new_field_experience_path, class: "rootbtn" %>
<%= link_to 'View Schedule', bookings_path, class: "rootbtn", id: "schedule"%>
<br>
<br>
</div>
<br>
<% if !flash.empty? %>
    <div id="flash-user"> 
        <% flash.keys.each do |k| %> 
            <div class="<%= k %>">
                <%= flash[k] %>
                
            </div>  
        <% end %>   
    </div>
<% end %>
<div class="bookings">
            
</div>




<div class="footer">
<% if logged_in? %>
<%= link_to 'Browse Experiences', field_experiences_path, class: "rootbtn" %>  
<%= link_to 'Log Out', session_path, method: :delete, class: 'rootbtn' %>
</div>

<% else %>
<h1>You should log in or create an account </h1>
<%= link_to "Home", root_path, class: 'rootbtn'%>
<% end %>
<% end %>
