


<% if logged_in? %>
<div class="user">
<h1> Hello, <%=@user.name%> </h1>
<%= link_to 'Schedule an Experience', field_experiences_path, class: "rootbtn" %> 
<br>
<br>
</div>
<br>
<div class="break">
<h3> Scheduled Bookings </h3>
</div>
<% @bookings.each do |booking| %>
    <div class="booking">
    <h3><%= booking.field_experience.title %></h3>
    <p><%= booking.field_experience.summary %></p>
    <h5>Date: <%= booking.date.strftime("%b %d, %Y") %></h5>
    </div>
    <br>
    <%end%>

<div class="footer">
<%= link_to 'Browse Experiences', field_experiences_path, class: "rootbtn" %>  
<%= link_to 'Log Out', session_path, method: :delete, class: 'rootbtn' %>
</div>

<% else %>
<h1>You should log in or create an account </h1>
<%= link_to "Home", root_path, class: 'rootbtn'%>
<% end %>
